{% extends 'base.html.twig' %}

{% block title %}Hello to the Events page{% endblock %}

{% block body %}


<div class="container">
    <h1> Event page</h1>
    <p>Here is some data and news</p>
    <p><a href="{{ path('app_events_index') }}">List of Events</a></p>
</div>

{% endblock %}
